<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Google Flask App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to Google Flask App</h1>
    </header>
    <p class="intro">This is an implementation of Google Authentication using Flask</p>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Google Flask Authentication</p>
    </footer>
</body>
</html>
